<div class="ajax-inner fl-wrap">
    <div class="list-post-wrap">
        <!--list-post-->	
        <div class="list-post fl-wrap">
            <div class="list-post-media">
                <a href="post-single.html">
                    <div class="bg-wrap">
                        <div class="bg" data-bg="../images/avatar/abjevent1.jpg"></div>
                    </div>
                </a>
                <span class="post-media_title">&copy; Image Copyrights Title</span>
            </div>
            <div class="list-post-content">
                <a class="post-category-marker" href="#">Business</a>
                <h3><a href="post-single.html">Lockdown payments to businesses, workers</a></h3>
                <span class="post-date"><i class="far fa-clock"></i> 18 may 2022</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  .</p>
                <ul class="post-opt">
                    <li><i class="far fa-comments-alt"></i> 6 </li>
                    <li><i class="fal fa-eye"></i>  587 </li>
                </ul>
                <div class="author-link"><a href="author-single.html"><img src="../images/avatar/abjevent1.jpg" alt="">  <span>By Jane Taylor</span></a></div>
            </div>
        </div>
        <!--list-post end-->
        <!--list-post-->	
        <div class="list-post fl-wrap">
            <div class="list-post-media">
                <a href="post-single.html">
                    <div class="bg-wrap">
                        <div class="bg" data-bg="../images/avatar/abjevent5.jpg"></div>
                    </div>
                </a>
                <span class="post-media_title">&copy; Image Copyrights Title</span>
            </div>
            <div class="list-post-content">
                <a class="post-category-marker" href="#">Business</a>
                <h3><a href="post-single.html">Entries open for Telstra business awards</a></h3>
                <span class="post-date"><i class="far fa-clock"></i> 15 may 2022</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  .</p>
                <ul class="post-opt">
                    <li><i class="far fa-comments-alt"></i>  5 </li>
                    <li><i class="fal fa-eye"></i>  456 </li>
                </ul>
                <div class="author-link"><a href="author-single.html"><img src="../images/avatar/abjevent5.jpg" alt="">  <span>By Mark Rose</span></a></div>
            </div>
        </div>
        <!--list-post end-->					
        <!--list-post-->	
        <div class="list-post fl-wrap">
            <div class="list-post-media">
                <a href="post-single.html">
                    <div class="bg-wrap">
                        <div class="bg" data-bg="../images/avatar/abjevent2.jpg"></div>
                    </div>
                </a>
                <span class="post-media_title">&copy; Image Copyrights Title</span>
            </div>
            <div class="list-post-content">
                <a class="post-category-marker" href="#">Business</a>
                <h3><a href="post-single.html">Cash grants to soften lockdown blues.</a></h3>
                <span class="post-date"><i class="far fa-clock"></i> 05 April 2022</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  .</p>
                <ul class="post-opt">
                    <li><i class="far fa-comments-alt"></i>  55</li>
                    <li><i class="fal fa-eye"></i>  987 </li>
                </ul>
                <div class="author-link"><a href="author-single.html"><img src="../images/avatar/abjevent2.jpg" alt="">  <span>By Ann Kowalsky</span></a></div>
            </div>
        </div>
        <!--list-post end-->
        <!--list-post-->	
        <div class="list-post fl-wrap">
            <div class="list-post-media">
                <a href="post-single.html">
                    <div class="bg-wrap">
                        <div class="bg" data-bg="../images/avatar/abjevent3.jpg"></div>
                    </div>
                </a>
                <span class="post-media_title">&copy; Image Copyrights Title</span>
            </div>
            <div class="list-post-content">
                <a class="post-category-marker" href="#">Business</a>
                <h3><a href="post-single.html">Vote to give a local business a helping hand</a></h3>
                <span class="post-date"><i class="far fa-clock"></i> 11 March 2022</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  .</p>
                <ul class="post-opt">
                    <li><i class="far fa-comments-alt"></i>  58 </li>
                    <li><i class="fal fa-eye"></i> 235 </li>
                </ul>
                <div class="author-link"><a href="author-single.html"><img src="../images/avatar/abjevent3.jpg" alt="">  <span>By Jessie Bond</span></a></div>
            </div>
        </div>
        <!--list-post end-->					
    </div>
</div>