<div class="ajax-inner fl-wrap">
    <div class="list-post-wrap">
        <!--list-post-->	
        <div class="list-post fl-wrap">
            <div class="list-post-media">
                <a href="post-single.html">
                    <div class="bg-wrap">
                        <div class="bg" data-bg="../images/avatar/abjHike3.jpeg"></div>
                    </div>
                </a>
                <span class="post-media_title">&copy; Image Copyrights Title</span>
            </div>
            <div class="list-post-content">
                <a class="post-category-marker" href="https://api.whatsapp.com/send/?phone=%2B2348104590990&text&app_absent=0" target="_blank">Get Tour Guide</a>
                <h3><a href="https://api.whatsapp.com/send/?phone=%2B2348104590990&text&app_absent=0" target="_blank">Send us Direct Message on whatsapp for a quick response</a></h3>
                <span class="post-date"><i class="far fa-clock"></i> 18 may 2022</span>
                <p>Create wonderful memories in Abuja. Let's take youi around</p>
                <ul class="post-opt">
                    <li><i class="far fa-comments-alt"></i> 6 </li>
                    <li><i class="fal fa-eye"></i>  587 </li>
                </ul>
                <div class="author-link"><a href="author-single.html"><img src="../images/avatar/abjHike3.jpeg" alt="">  <span>By Jane Taylor</span></a></div>
            </div>
        </div>
        <!--list-post end-->
        <!--list-post-->	
        <div class="list-post fl-wrap">
            <div class="list-post-media">
                <a href="post-single.html">
                    <div class="bg-wrap">
                        <div class="bg" data-bg="../images/avatar/abjHike1.jpeg"></div>
                    </div>
                </a>
                <span class="post-media_title">&copy; Image Copyrights Title</span>
            </div>
            <div class="list-post-content">
                <a class="post-category-marker" href="https://api.whatsapp.com/send/?phone=%2B2348104590990&text&app_absent=0" target="_blank">Get Tour Guide</a>
                <h3><a href="https://api.whatsapp.com/send/?phone=%2B2348104590990&text&app_absent=0" target="_blank">Send in Direct Whatsapp Message for a quick response</a></h3>
                <span class="post-date"><i class="far fa-clock"></i> 15 may 2022</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  .</p>
                <ul class="post-opt">
                    <li><i class="far fa-comments-alt"></i>  5 </li>
                    <li><i class="fal fa-eye"></i>  456 </li>
                </ul>
                <div class="author-link"><a href="author-single.html"><img src="../images/avatar/abjHike1.jpeg" alt="">  <span>By Mark Rose</span></a></div>
            </div>
        </div>
        <!--list-post end-->					
        <!--list-post-->	
        <div class="list-post fl-wrap">
            <div class="list-post-media">
                <a href="post-single.html">
                    <div class="bg-wrap">
                        <div class="bg" data-bg="../images/avatar/abjHike2.jpeg"></div>
                    </div>
                </a>
                <span class="post-media_title">&copy; Image Copyrights Title</span>
            </div>
            <div class="list-post-content">
                <a class="post-category-marker" href="https://api.whatsapp.com/send/?phone=%2B2348104590990&text&app_absent=0" target="_blank">Get Tour Guide</a>
                <h3><a href="https://api.whatsapp.com/send/?phone=%2B2348104590990&text&app_absent=0" target="_blank">Send in Direct Whatsapp message for quicker response</a></h3>
                <span class="post-date"><i class="far fa-clock"></i> 05 April 2022</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  .</p>
                <ul class="post-opt">
                    <li><i class="far fa-comments-alt"></i>  55</li>
                    <li><i class="fal fa-eye"></i>  987 </li>
                </ul>
                <div class="author-link"><a href="author-single.html"><img src="../images/avatar/abjHike2.jpeg" alt="">  <span>By Ann Kowalsky</span></a></div>
            </div>
        </div>
        <!--list-post end-->
        <div class="list-post fl-wrap">
            <div class="list-post-media">
                <a href="post-single.html">
                    <div class="bg-wrap">
                        <div class="bg" data-bg="../images/avatar/abjHike6.jpeg"></div>
                    </div>
                </a>
                <span class="post-media_title">&copy; Image Copyrights Title</span>
            </div>
            <div class="list-post-content">
                <a class="post-category-marker" href="#">Get Tour Guide</a>
                <h3><a href="post-single.html">Perfect James Webb telescope on track for launch.</a></h3>
                <span class="post-date"><i class="far fa-clock"></i> 05 April 2022</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  .</p>
                <ul class="post-opt">
                    <li><i class="far fa-comments-alt"></i>  55</li>
                    <li><i class="fal fa-eye"></i>  987 </li>
                </ul>
                <div class="author-link"><a href="author-single.html"><img src="../images/avatar/abjHike6.jpeg" alt="">  <span>By Ann Kowalsky</span></a></div>
            </div>
        </div>
        <!--list-post end-->
    </div>
</div>