<div class="ajax-inner fl-wrap">
    <div class="list-post-wrap">
        <!--list-post-->	
        <div class="list-post fl-wrap">
            <div class="list-post-media">
                <a href="post-single.html">
                    <div class="bg-wrap">
                        <div class="bg" data-bg="../images/avatar/abjTour5.jpeg"></div>
                    </div>
                </a>
                <span class="post-media_title">&copy; Image Copyrights Title</span>
            </div>
            <div class="list-post-content">
                <a class="post-category-marker" href="#">Science</a>
                <h3><a href="post-single.html">Goodwin must Break Clarkson hold on Flags</a></h3>
                <span class="post-date"><i class="far fa-clock"></i> 18 may 2022</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  .</p>
                <ul class="post-opt">
                    <li><i class="far fa-comments-alt"></i> 6 </li>
                    <li><i class="fal fa-eye"></i>  587 </li>
                </ul>
                <div class="author-link"><a href="author-single.html"><img src="../images/avatar/abjTour5.jpeg" alt="">  <span>By Jane Taylor</span></a></div>
            </div>
        </div>
        <!--list-post end-->
        <!--list-post-->	
        <div class="list-post fl-wrap">
            <div class="list-post-media">
                <a href="post-single.html">
                    <div class="bg-wrap">
                        <div class="bg" data-bg="../images/avatar/abjTour6.jpeg"></div>
                    </div>
                </a>
                <span class="post-media_title">&copy; Image Copyrights Title</span>
            </div>
            <div class="list-post-content">
                <a class="post-category-marker" href="#">Politics</a>
                <h3><a href="post-single.html"> Start your career right here at home</a></h3>
                <span class="post-date"><i class="far fa-clock"></i> 15 may 2022</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  .</p>
                <ul class="post-opt">
                    <li><i class="far fa-comments-alt"></i>  5 </li>
                    <li><i class="fal fa-eye"></i>  456 </li>
                </ul>
                <div class="author-link"><a href="author-single.html"><img src="../images/avatar/abjTour6.jpeg" alt="">  <span>By Mark Rose</span></a></div>
            </div>
        </div>
        <!--list-post end-->					
        <!--list-post-->	
        <div class="list-post fl-wrap">
            <div class="list-post-media">
                <a href="post-single.html">
                    <div class="bg-wrap">
                        <div class="bg" data-bg="../images/avatar/abjTour2.jpeg"></div>
                    </div>
                </a>
                <span class="post-media_title">&copy; Image Copyrights Title</span>
            </div>
            <div class="list-post-content">
                <a class="post-category-marker" href="#">Business</a>
                <h3><a href="post-single.html">Drought resilience leaders continue work.</a></h3>
                <span class="post-date"><i class="far fa-clock"></i> 05 April 2022</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  .</p>
                <ul class="post-opt">
                    <li><i class="far fa-comments-alt"></i>  55</li>
                    <li><i class="fal fa-eye"></i>  987 </li>
                </ul>
                <div class="author-link"><a href="author-single.html"><img src="../images/avatar/abjTour2.jpeg" alt="">  <span>By Ann Kowalsky</span></a></div>
            </div>
        </div>
        <!--list-post end-->
        <!--list-post-->	
        <div class="list-post fl-wrap">
            <div class="list-post-media">
                <a href="post-single.html">
                    <div class="bg-wrap">
                        <div class="bg" data-bg="../images/avatar/abjTour4.jpeg"></div>
                    </div>
                </a>
                <span class="post-media_title">&copy; Image Copyrights Title</span>
            </div>
            <div class="list-post-content">
                <a class="post-category-marker" href="#">Technology</a>
                <h3><a href="post-single.html">Man boasted of crowd size at Jan.  New book says.</a></h3>
                <span class="post-date"><i class="far fa-clock"></i> 11 March 2022</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  .</p>
                <ul class="post-opt">
                    <li><i class="far fa-comments-alt"></i>  58 </li>
                    <li><i class="fal fa-eye"></i> 235 </li>
                </ul>
                <div class="author-link"><a href="author-single.html"><img src="../images/avatar/abjTour4.jpeg" alt="">  <span>By Jessie Bond</span></a></div>
            </div>
        </div>
        <!--list-post end-->					
        <!--list-post-->	
        <div class="list-post fl-wrap">
            <div class="list-post-media">
                <a href="post-single.html">
                    <div class="bg-wrap">
                        <div class="bg" data-bg="../images/avatar/abjTour2.jpeg"></div>
                    </div>
                </a>
                <span class="post-media_title">&copy; Image Copyrights Title</span>
            </div>
            <div class="list-post-content">
                <a class="post-category-marker" href="#">Politics</a>
                <h3><a href="post-single.html">Latest lockdown a challenge for regional businesses</a></h3>
                <span class="post-date"><i class="far fa-clock"></i> 11 March 2022</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  .</p>
                <ul class="post-opt">
                    <li><i class="far fa-comments-alt"></i>  58 </li>
                    <li><i class="fal fa-eye"></i> 235 </li>
                </ul>
                <div class="author-link"><a href="author-single.html"><img src="../images/avatar/abjTour2.jpeg" alt="">  <span>By Jessie Bond</span></a></div>
            </div>
        </div>
        <!--list-post end-->				
    </div>
</div>