<div class="ajax-inner fl-wrap">
    <div class="list-post-wrap">
        <!--list-post-->	
        <div class="list-post fl-wrap">
            <div class="list-post-media">
                <a href="post-single.html">
                    <div class="bg-wrap">
                        <div class="bg" data-bg="../images/avatar/abjview8.jpg"></div>
                    </div>
                </a>
                <span class="post-media_title">&copy; Image Copyrights Title</span>
            </div>
            <div class="list-post-content">
                <a class="post-category-marker" href="#">Sports</a>
                <h3><a href="post-single.html"> Rovers considering netball options</a></h3>
                <span class="post-date"><i class="far fa-clock"></i> 18 may 2022</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  .</p>
                <ul class="post-opt">
                    <li><i class="far fa-comments-alt"></i> 6 </li>
                    <li><i class="fal fa-eye"></i>  587 </li>
                </ul>
                <div class="author-link"><a href="author-single.html"><img src="../images/avatar/abjview8.jpg" alt="">  <span>By Jane Taylor</span></a></div>
            </div>
        </div>
        <!--list-post end-->
        <!--list-post-->	
        <div class="list-post fl-wrap">
            <div class="list-post-media">
                <a href="post-single.html">
                    <div class="bg-wrap">
                        <div class="bg" data-bg="../images/avatar/abjview5.jpg"></div>
                    </div>
                </a>
                <span class="post-media_title">&copy; Image Copyrights Title</span>
            </div>
            <div class="list-post-content">
                <a class="post-category-marker" href="#">Sports</a>
                <h3><a href="post-single.html">City   plan ahead for twin turf options</a></h3>
                <span class="post-date"><i class="far fa-clock"></i> 15 may 2022</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  .</p>
                <ul class="post-opt">
                    <li><i class="far fa-comments-alt"></i>  5 </li>
                    <li><i class="fal fa-eye"></i>  456 </li>
                </ul>
                <div class="author-link"><a href="author-single.html"><img src="../images/avatar/abjview5.jpg" alt="">  <span>By Mark Rose</span></a></div>
            </div>
        </div>
        <!--list-post end-->					
        <!--list-post-->	
        <div class="list-post fl-wrap">
            <div class="list-post-media">
                <a href="post-single.html">
                    <div class="bg-wrap">
                        <div class="bg" data-bg="../images/avatar/abjview2.jpg"></div>
                    </div>
                </a>
                <span class="post-media_title">&copy; Image Copyrights Title</span>
            </div>
            <div class="list-post-content">
                <a class="post-category-marker" href="#">Sports</a>
                <h3><a href="post-single.html">Border product to umpire grand final.</a></h3>
                <span class="post-date"><i class="far fa-clock"></i> 05 April 2022</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  .</p>
                <ul class="post-opt">
                    <li><i class="far fa-comments-alt"></i>  55</li>
                    <li><i class="fal fa-eye"></i>  987 </li>
                </ul>
                <div class="author-link"><a href="author-single.html"><img src="../images/avatar/abjview2.jpg" alt="">  <span>By Ann Kowalsky</span></a></div>
            </div>
        </div>
        <!--list-post end-->
        <!--list-post-->	
        <div class="list-post fl-wrap">
            <div class="list-post-media">
                <a href="post-single.html">
                    <div class="bg-wrap">
                        <div class="bg" data-bg="../images/avatar/abjview6.jpg"></div>
                    </div>
                </a>
                <span class="post-media_title">&copy; Image Copyrights Title</span>
            </div>
            <div class="list-post-content">
                <a class="post-category-marker" href="#">Sports</a>
                <h3><a href="post-single.html">Sports tag Club competition returns</a></h3>
                <span class="post-date"><i class="far fa-clock"></i> 11 March 2022</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  .</p>
                <ul class="post-opt">
                    <li><i class="far fa-comments-alt"></i>  58 </li>
                    <li><i class="fal fa-eye"></i> 235 </li>
                </ul>
                <div class="author-link"><a href="author-single.html"><img src="../images/avatar/abjview6.jpg" alt="">  <span>By Jessie Bond</span></a></div>
            </div>
        </div>
        <!--list-post end-->					
    </div>
</div>